
.has-success-own-class .form-control:focus {
  border-color: #21a357;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #21a357;
}

.has-success-own-class .control-label {
  color:  #21a357;
}


.has-blur-own-class {
  color: black;
  font-size: 5em;
  font-family: cursive;
}
