<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employee)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Create Employee
      </h3>
    </div>
    <div
      class="panel-body"
      [class.has-error]="name.invalid && name.touched"
      [class.has-success-own-class]="name.valid"
    >
      <div class="from-group">
        <label for="name" class="control-label">Full Name</label>
        <input
          type="text"
          name="name"
          [(ngModel)]="employee.name"
          id="name"
          class="form-control"
          required
          #name="ngModel"
          #fullNameStyle
        />
        <span class="help-block" *ngIf="name.invalid && name.touched">
          Name is require
        </span>
      </div>

      <div class="from-group" [class.has-error]="email.invalid">
        <label for="email" class="control-label">Email</label>
        <input
          type="text"
          name="email"
          id="email"
          [(ngModel)]="employee.email"
          #email="ngModel"
          class="form-control"
          [required]="contactPreference.value === 'email'"
          required
          pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(gmail)\.com$"
        />
        <span class="help-block" *ngIf="email.errors?.required">
          Email is required
        </span>
        <span class="help-block" *ngIf="email.errors?.pattern">
          Email is invalid
        </span>
      </div>

      <div
        class="from-group"
        [class.has-error]="phoneNumber.touched && phoneNumber.invalid"
      >
        <label for="phoneNumber" class="control-label">phone Number</label>
        <input
          [required]="contactPreference.value === 'phone'"
          #phoneNumber="ngModel"
          type="text"
          name="phoneNumber"
          id="phoneNumber"
          [(ngModel)]="employee.phoneNumber"
          class="form-control"
        />
        <span class="help-block" *ngIf="phoneNumber.errors?.required"
          >phone Number required</span
        >
      </div>

      <div
        class="from-group"
        [class.has-error]="contactPreference.touched && contactPreference.valid"
      >
        <label class="control-label">Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input
              type="radio"
              [(ngModel)]="employee.contactPreference"
              value="email"
              name="contactPreference"
              required
              #contactPreference="ngModel"
            />
            Email
          </label>
          <label class="radio-inline">
            <input
              [(ngModel)]="employee.contactPreference"
              type="radio"
              value="phone"
              name="contactPreference"
              required
              #contactPreference="ngModel"
            />
            Phone
          </label>
        </div>
        <span
          class="help-block"
          *ngIf="contactPreference.touched && contactPreference.invalid"
        >
          Contact preference is required</span
        >

        <span style="padding: 20px; display: block;">
          Contact preference selected value: {{ contactPreference.value }}</span
        >
      </div>

      <div
        class="form-group"
        [class.has-error]="gender.touched && gender.invalid"
      >
        <label class="control-label">Gender</label>

        <div class="form-control">
          <label for="gender" class="radio-inline">
            <input
              type="radio"
              name="gender"
              required
              #gender="ngModel"
              value="male"
              [(ngModel)]="employee.gender"
            />
            Male
          </label>
          <label for="gender" class="radio-inline">
            <input
              type="radio"
              name="gender"
              required
              #gender="ngModel"
              value="female"
              [(ngModel)]="employee.gender"
            />
            Female
          </label>
        </div>

        <span class="help-block" *ngIf="gender.errors?.invalid">
          Gender Required!
        </span>
      </div>

      <div
        class="from-group"
        [class.has-error]="isActive.touched && isActive.invalid"
      >
        <div class="form-control">
          <label class="checkbox-inline control-label">
            <input
              type="checkbox"
              [(ngModel)]="employee.isActive"
              name="isActive"
              [required]="employee.isActive === null"
              #isActive="ngModel"
            />
            Is Active
          </label>
        </div>
        <span
          class="help-block"
          *ngIf="isActive.touched && isActive.errors?.required"
        >
          Is Active is Required.
        </span>
      </div>

      <div class="from-group">
        <label for="department" class="checkbox-inline">
          Department
        </label>
        <select
          name="department"
          id="department"
          [(ngModel)]="employee.department"
          class="from-control"
        >
          <option *ngFor="let dept of departments" [value]="dept.id">
            {{ dept.name }}
          </option>
        </select>
      </div>

      <div class="row">
        <div class="from-group col-md-5">
          <label for="dateOfBirth">Date of Birth</label>
          <input
            bsDatepicker
            [bsConfig]="datePickerConfig"
            placement="right"
            type="text"
            name="dateOfBirth"
            id="dateOfBirth"
            [(ngModel)]="employee.dateOfBirth"
            class="form-control"
          />
          <label for="photoPath">photo Path</label>
          <input
            type="text"
            name="photoPath"
            id="photoPath"
            [(ngModel)]="employee.photoPath"
            class="form-control"
          />
        </div>
        <div class="panel-footer">
          <button
            (click)="togglePhotoPreview()"
            type="button"
            class="btn btn-primary"
          >
            {{ previewPhoto ? "Hide " : "Show " }} Preview Button
          </button>
        </div>

        <div class="form-group">
          <img
            [src]="employee.photoPath"
            height="150"
            width="150"
            *ngIf="previewPhoto"

          />
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button
        type="submit"
        [disabled]="employeeForm.invalid"
        class="btn btn-primary"
      >
        Save
      </button>
    </div>
  </div>
</form>

{{ employeeForm.value | json }}

<br />
<br />

Our Employee Model: {{ employee | json }}
